html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, form select, form input, form textarea, form input[type=submit], blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Sohne Kraftig Kursiv";
  src: url("../fonts/Sohne-KraftigKursiv.woff2") format("woff2"), url("../fonts/Sohne-KraftigKursiv.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Sohne Fett";
  src: url("../fonts/Sohne-Fett.woff2") format("woff2"), url("../fonts/Sohne-Fett.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sohne Kraftig";
  src: url("../fonts/Sohne-Kraftig.woff2") format("woff2"), url("../fonts/Sohne-Kraftig.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sohne Fett Kursiv";
  src: url("../fonts/Sohne-FettKursiv.woff2") format("woff2"), url("../fonts/Sohne-FettKursiv.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
:root {
  --black: #000000;
  --white: #FFFFFF;
  --light-accent: #FBD2BB;
  --dark-accent: #2A3886;
  --site-gutter: 20px;
  --gutter: 20px;
  --mainpad: 40px;
  --block-small: 75px;
  --h1: 4.375rem;
  --h2: 1.625rem;
  --p: 1rem;
}
@media (max-width: 1100px) {
  :root {
    --block-small: 50px;
    --h1: 2.25rem;
  }
}
@media (max-width: 750px) {
  :root {
    --h1: 1.5rem;
    --h2: 1.25rem;
    --p: 0.875rem;
    --site-gutter: 10px;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Sohne Kraftig";
  background: var(--light-accent);
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2rem;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--h1);
  line-height: 1.1;
  font-family: "Sohne Fett";
  text-align: center;
}

h2 {
  font-size: var(--h2);
  line-height: 1.1;
  font-family: "Sohne Fett";
}

p, form select, form input, form textarea, form input[type=submit] {
  font-size: var(--p);
  line-height: 1.1;
  font-family: "Sohne Kraftig";
}

.p-small, form label {
  font-size: 0.75rem;
  font-family: "Sohne Kraftig";
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input, input[type=submit] {
  font-family: "Sohne Kraftig";
  border: 0;
  border-radius: 0;
  background: none;
}

.mobile-only {
  display: none;
}
@media (max-width: 1100px) {
  .mobile-only {
    display: block;
  }
}

@media (max-width: 1100px) {
  .desktop-only {
    display: none !important;
  }
}

body {
  padding: var(--site-gutter);
}

.page-content {
  border: 1px solid var(--black);
  height: calc(100vh - 40px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
@media (max-width: 750px) {
  .page-content {
    height: calc(100vh - 20px);
  }
}
.page-content main {
  height: calc(100vh - 115px);
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
@media (max-width: 1100px) {
  .page-content main {
    height: calc(100vh - 142px);
  }
}
@media (max-width: 750px) {
  .page-content main {
    height: calc(100vh - 123px);
  }
}
.page-content main .section {
  position: relative;
}
@media (max-width: 1100px) {
  .page-content main .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.page-content main .section:first-of-type {
  max-height: -webkit-fill-available;
}
@media (min-width: 1100px) {
  .page-content main .section:first-of-type {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid var(--black);
  }
}
.page-content main > section, .page-content main .section {
  grid-column: span 6;
}
@media (max-width: 1100px) {
  .page-content main > section, .page-content main .section {
    grid-column: span 12;
  }
}

.hero-image {
  position: relative;
  height: 0;
  padding-bottom: calc(100vh - 115px);
}
.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.hero-image.mobile-only {
  display: none;
  padding-bottom: calc(50vh - 50px);
}
@media (max-width: 1100px) {
  .hero-image.mobile-only {
    display: block;
  }
}

.mobile-hero {
  opacity: 1;
  transition: opacity 0.35s ease-in;
}
@media (max-width: 1100px) {
  .mobile-hero.fade {
    opacity: 0;
  }
  .mobile-hero.hide {
    display: none;
  }
}

.section-header {
  height: var(--block-small);
  border-bottom: 1px solid var(--black);
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}
.section-header img {
  max-width: 343.58px;
}
@media (max-width: 1100px) {
  .section-header img {
    max-width: 253px;
  }
}

@media (max-width: 1100px) {
  .mobile-bottom {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(50vh - 192px);
  }
}
@media (max-width: 750px) {
  .mobile-bottom {
    height: calc(50vh - 173px);
  }
}
@media (max-width: 1100px) {
  .mobile-bottom.hide {
    display: none;
  }
}

.text-body {
  padding: 0 70px;
  opacity: 1;
  transition: opacity 0.35s ease-in;
}
@media (max-width: 1100px) {
  .text-body {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .text-body {
    padding: 0 var(--gutter);
  }
}
.text-body.fade {
  opacity: 0;
}
.text-body.remove {
  display: none;
}
.text-body .inner {
  max-width: 602px;
}
.text-body .inner .subtext {
  line-height: 1.2;
  margin-top: var(--mainpad);
  text-align: center;
}
@media (max-width: 1100px) {
  .text-body .inner .subtext {
    margin-top: var(--gutter);
  }
}

.register {
  width: 100%;
  height: var(--block-small);
  overflow: hidden;
  background: var(--light-accent);
  transition: height 0.35s ease-in;
  position: relative;
  top: auto;
  padding-bottom: 50px;
}
.register.active {
  z-index: 1;
  height: calc(100vh - 190px);
  overflow-y: scroll;
}
@media (max-width: 1100px) {
  .register.active {
    height: calc(100vh - 192px);
  }
}
@media (max-width: 750px) {
  .register.active {
    height: calc(100vh - 173px);
  }
}
.register .register-header {
  height: var(--block-small);
  border-top: 1px solid var(--black);
  width: 100%;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--black);
  color: var(--white);
}

.form-control {
  height: 75px;
  padding: var(--gutter);
  border-top: 1px solid var(--black);
}
.form-control:last-of-type {
  border-bottom: 1px solid var(--black);
  height: auto;
}
@media (max-width: 1100px) {
  .form-control {
    height: auto;
  }
}
@media (max-width: 750px) {
  .form-control {
    padding: 10px;
  }
}
.form-control.select {
  height: auto;
}

form label {
  display: block;
}
form input, form textarea, form input[type=submit] {
  width: 100%;
  display: block;
  margin-top: 5px;
  background: var(--light-accent);
}
form input::placeholder, form textarea::placeholder, form input[type=submit]::placeholder {
  opacity: 0.4;
}
form input:focus, form textarea:focus, form input[type=submit]:focus {
  outline: none;
}
form input[type=submit] {
  margin-top: 0px;
  background: var(--light-accent);
}
form textarea {
  resize: none;
}
form select {
  background: none;
  width: 100%;
  opacity: 0.4;
  margin-top: 5px;
}
form select:focus {
  outline: none;
}

.mobile-register {
  width: 100%;
  border-top: 1px solid var(--black);
}
.mobile-register form {
  height: var(--block-small);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.mobile-register form > div {
  padding: 10px;
}
.mobile-register form > div:first-of-type {
  flex: 1;
  border-right: 1px solid var(--black);
}
.mobile-register form > div:last-of-type {
  flex: 0 84px;
}

footer {
  border-top: 1px solid var(--black);
  overflow: hidden;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  position: relative;
}
footer > div {
  height: var(--block-small);
  grid-column: span 6;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}
footer > div:first-of-type {
  border-right: 1px solid var(--black);
}
@media (max-width: 1100px) {
  footer > div:first-of-type {
    grid-column: span 12;
    grid-row: 2;
    border-right: 0;
    border-top: 1px solid var(--black);
  }
}
footer > div:first-of-type img {
  max-width: 206.47px;
}
@media (max-width: 1100px) {
  footer > div:first-of-type img {
    max-width: 152px;
  }
}
@media (max-width: 1100px) {
  footer > div.lamont-logo {
    border-right: 1px solid var(--black);
  }
}
footer > div.lamont-logo > img {
  max-width: 106px;
}
@media (min-width: 1100px) {
  footer .colliers-logo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1100px) {
  footer .colliers-logo {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
  }
}
footer .colliers-logo img {
  max-width: 69px;
}
@media (max-width: 1100px) {
  footer .colliers-logo img {
    max-width: 51px;
  }
}
