@import 'reset';
@import 'fontface';
@import 'globals';

body {
    padding: var(--site-gutter);
}

.page-content {
    border: 1px solid var(--black);
    height: calc(100vh - 40px);
    @include grid;

    @media (max-width: $mobile) {
        height: calc(100vh - 20px);
    }

    main {
        height: calc(100vh - 115px);
        grid-column: span 12;
        @include grid;

        @media (max-width: $tablet) {
            height: calc(100vh - 142px);
        }
        
        @media (max-width: $mobile) {
            height: calc(100vh - 123px);
        }

        .section {
            position: relative;

            @media (max-width: $tablet) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &:first-of-type {
                max-height: -webkit-fill-available;
                @media (min-width: $tablet) {
                    @include flex-between;
                    flex-direction: column;
                    border-right: 1px solid var(--black);
                }
            }
        }

        > section, .section {
            grid-column: span 6;

            @media (max-width: $tablet) {
                grid-column: span 12;
            }
        }

    }
}

.hero-image {
    position: relative;
    height: 0;
    padding-bottom: calc(100vh - 115px);
    img {
        @include aspectImage;
    }


    &.mobile-only {
        display: none;
        padding-bottom: calc(50vh - 50px);
        @media (max-width: $tablet) {
            display: block;
        }

        
    }
}

.mobile-hero {
    opacity: 1;
    transition: opacity 0.35s ease-in;
    @media (max-width: $tablet) {
        &.fade {
            opacity: 0;
        }
        &.hide {
            display: none;
        }
    }
}

.section-header {
    height: var(--block-small);
    border-bottom: 1px solid var(--black);
    width: 100%;
    @include flex-center;
    img {
        max-width: 343.58px;

        @media (max-width: $tablet) {
            max-width: 253px;
        }
    }
}


.mobile-bottom {
    
    @media (max-width: $tablet) {
        @include flex-between;
        flex-direction: column;
        height: calc(50vh - 192px);
    }

    @media (max-width: $mobile) {
        height: calc(50vh - 173px);
    }

    &.hide {
        @media (max-width: $tablet) {
            display: none;
        }
    }
}



.text-body {
    padding: 0 70px;
    opacity: 1;
    transition: opacity 0.35s ease-in;
    @media (max-width: $tablet) {
        height: 100%;
        @include flex-center;
    }

    @media (max-width: $mobile) {
        padding: 0 var(--gutter);
    }

    &.fade {
        opacity: 0;
    }
    &.remove {
        display: none;
    }

    .inner {
        max-width: 602px;

        .subtext {
            line-height: 1.2;
            margin-top: var(--mainpad);
            text-align: center;

            @media (max-width: $tablet) {
                margin-top: var(--gutter);
            }
        }
    }
}

// Desktop Register
.register {
    width: 100%;
    height: var(--block-small);
    overflow: hidden;
    background: var(--light-accent);
    transition: height 0.35s ease-in;
    position: relative;
    top: auto;
    
    // @media (max-width: $mobile) {
        padding-bottom: 50px;
    // }

    &.active {
        z-index: 1;
        height: calc(100vh - 190px);
        overflow-y: scroll;

        @media (max-width: $tablet) {
            height: calc(100vh - 192px);
        }
        @media (max-width: $mobile) {
            height: calc(100vh - 173px);
        }
    }

    .register-header {
        height: var(--block-small);
        border-top: 1px solid var(--black);
        width: 100%;
        text-align: center;
        @include flex-center;
        cursor: pointer;
        background: var(--black);
        color: var(--white);

        // h2 {
            // @include flex-center;
            // &::after {
            //     content:'';
            //     width: 14px;
            //     height: 8px;
            //     background-size: 100%;
            //     background-image: url('../graphics/chevron.svg');
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     display: inline-block;
            //     margin-left: var(--gutter);
            // }
        // }
    }
}


.form-control {
    height: 75px;
    padding: var(--gutter);
    // @include flex-center;
    border-top: 1px solid var(--black);

    &:last-of-type {
        border-bottom: 1px solid var(--black);
        height: auto;
    }

    @media (max-width: $tablet) {
        height: auto;
    }

    @media (max-width: $mobile) {
        // height: var(--block-small);
        padding: 10px;
    }

    &.select {
        height: auto;
    }
}

form {
    label {
        display: block;
        @extend .p-small;
    }

    input, textarea, input[type=submit] {
        width: 100%;
        display: block;
        @extend p;
        margin-top: 5px;
        background: var(--light-accent);

        &::placeholder {
            opacity: 0.4;
        }
        &:focus {
            outline: none;
        }
    }

    input[type=submit] {
        margin-top: 0px;
        background: var(--light-accent);
    }

    textarea {
        resize: none;
    }


    select {
        @extend p;
        background: none;
        width: 100%;
        opacity: 0.4;
        margin-top: 5px;

        &:focus {
            outline: none;
        }
    }
}


// Mobile Register
.mobile-register {
    width: 100%;
    border-top: 1px solid var(--black);
    form {
        height: var(--block-small);
        @include flexbox;
        

        > div {
            padding: 10px;
            &:first-of-type {
                flex: 1;
                border-right: 1px solid var(--black);
                
            }
            &:last-of-type {
                flex: 0 84px;
            }
        }

        
    }
}



footer {
    border-top: 1px solid var(--black);
    overflow: hidden;
    grid-column: span 12;
    @include grid;
    position: relative;
    
    > div {
        height: var(--block-small);
        grid-column: span 6;
        @include flex-center;
        &:first-of-type {
            border-right: 1px solid var(--black);

            @media (max-width: $tablet) {
                grid-column: span 12;
                grid-row: 2;
                border-right: 0;
                border-top: 1px solid var(--black);
            }

            img {
                max-width: 206.47px;

                @media (max-width: $tablet) {
                    max-width: 152px;
                }
            }
        }
        &.lamont-logo {
            
            @media (max-width: $tablet) {
                border-right: 1px solid var(--black);
            }
            > img {
                max-width: 106px;
            }
        }
    }

    .colliers-logo {
            @media (min-width: $tablet) {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            @media (max-width: $tablet) {
                @include flex-center;
            }

        img {
            max-width: 69px;

            @media (max-width: $tablet) {
                max-width: 51px;
            }
        }
    }
}